@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: linear-gradient(to right, #1b1d25 #2d3142);
  background: #2d3142;

  .container {
    max-width: 1180px;
    margin: auto;
    margin-bottom: 4em;
  }
}
