@use "../../styles/colors" as *;

.card-container {
  width: 80%;
  display: flex;
  margin: auto;
  color: $grey;
  .card_cust {
    background: $primary;
    position: relative;
    box-shadow: 0 3px 7px rgb(0 0 0 / 0.2);
    height: 150px;
    border-radius: 5px;
    padding: 1rem;
    h3 {
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }
    .card-num {
      position: absolute;
      font-size: 2.3rem;
      padding: 0 1rem;
      right: 0;
    }
  }
}
.game {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  .game-form {
    background-color: $primary-transparent;
    color: $grey;
    padding: 1.5rem;

    border-radius: 1rem;
    box-shadow: 0 3px 7px rgb(0 0 0 / 0.2);
    h3 {
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      input,
      textarea {
        padding: 0.7rem 1rem;
        width: 100%;
        border-radius: 3px;
        &:focus {
          outline: 0;
          border: 2px solid $secondary;
        }
      }

      button[type="submit"] {
        cursor: pointer;
        width: 100%;
        border: none;
        background: $secondary;
        color: $white;
        padding: 0.5rem 0;
      }
    }
  }
}
